.corona-article {
  padding: 15px;
  width: 100%;
  > p {
    margin: 0;
  }
  .corona-title {
    font-size: 1.4em;
    font-weight: 700;
  }
  .corona-update {
    font-weight: 300;
    font-size: 12px;
  }
  .corona-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    .corona-left {
      .corona-inform {
        > p {
          font-size: 1.2em;
          font-weight: 500;
          margin: 7px 0;
        }
      }
    }
    .corona-right {
      display: block;
      margin: 0 auto;
    }
  }
}
