.corona-article {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  > p {
    margin: 0;
  }
  .corona-title {
    font-size: 1.4em;
    font-weight: 700;
  }
  .corona-update {
    font-weight: 300;
    font-size: 12px;
  }
  .corona-flex {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 20px;
    .corona-left {
      .corona-inform {
        > p {
          font-size: 1.1em;
          font-weight: 500;
          margin: 7px 0;
        }
      }
    }
  }
}

.pc {
  .corona-right {
    display: block;
    margin: 0 auto;
  }
}

.tablet,
.mobile {
  .corona-right {
    display: none;
  }
}
