.news-article {
  padding: 10px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background-color: #eee;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #ccc;
    &:hover {
      background: #aaa;
    }
  }
  .news-article-title {
    font-size: 1.4em;
    font-weight: 700;
    margin: 0;
    padding: 0 10px;
  }
  .news-item-wrapper {
    text-align: left;
    padding: 20px 10px;
    .news-title {
      margin: 0;
      font-size: 1.2em;
      font-weight: 500;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      word-wrap: break-word;
      > a {
        color: #333;
        transition: 0.1s color ease-in;
        &:hover {
          color: rgb(37, 132, 158);
        }
      }
    }
    .news-description {
      font-weight: 300;
      margin-top: 15px;
      margin-bottom: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      word-wrap: break-word;
    }
  }
}

.news-item-wrapper {
  & + & {
    border-top: 1px solid #ccc;
  }
}
