.news-wrapper {
  display: flex;
  background-color: white;
  height: 100vh;
  min-height: 500px;
  .news-section {
    margin: 5em auto;
    width: 85%;
    display: flex;
  }
}

.tablet,
.mobile {
  .news-section {
    flex-direction: column;
  }
}
