.sub-news-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  > div {
    justify-content: center;
    display: flex;
    align-items: center;
    &:first-child {
      margin-bottom: 15px;
      flex: 2;
      background-color: lightseagreen;
    }
    &:last-child {
      flex: 1;
      background-color: lightyellow;
    }
  }
}
